***SI 311 Homework #1: University of Michigan Softball 2021 Runs Created Analysis***

Data from: https://mgoblue.com/sports/softball/stats/2021

APA Citation: 
2021 Michigan Softball Statistics. University of Michigan Athletics. (n.d.). Retrieved September 9, 2022, from https://mgoblue.com/sports/softball/stats/2021 

Formulas from SI 311, University of Michigan Fall '22

*Code Written by Brandon Huggard*

https://www.linkedin.com/in/brandon-huggard-5957a0192/

In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl

In [128]:
softball = pd.read_html('https://mgoblue.com/sports/softball/stats/2021')[0]

In [129]:
softball

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,SLG%,BB,HBP,SO,GDP,OB%,SF,SH,SB-ATT,Bio Link
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,0.632,12,3,7,0,0.456,1,1,12-13,View Bio
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,0.681,13,3,14,1,0.440,2,1,0-0,View Bio
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,0.675,17,3,23,1,0.418,0,3,0-0,View Bio
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,0.402,7,0,28,1,0.354,0,2,3-4,View Bio
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,0.423,4,2,9,0,0.324,0,3,2-2,View Bio
5,22.0,"Jimenez, Julia 22 Jimenez, Julia",0.293,0.751,46-46,140,13,41,6,1,...,0.436,4,1,11,1,0.315,1,8,2-2,View Bio
6,21.0,"Rodriguez, Natalia 21 Rodriguez, Natalia",0.227,0.674,46-46,119,29,27,7,3,...,0.336,18,2,22,0,0.338,0,13,8-11,View Bio
7,17.0,"Kersten, Sierra 17 Kersten, Sierra",0.224,0.548,42-38,98,9,22,7,0,...,0.296,2,2,33,2,0.252,1,3,2-3,View Bio
8,32.0,"Hoogenraad, Haley 32 Hoogenraad, Haley",0.205,0.570,44-40,88,13,18,1,1,...,0.273,11,1,27,0,0.297,1,10,4-5,View Bio
9,5.0,"Rodriguez, Kaylee America 5 Rodriguez, Kaylee...",1.000,3.500,30-0,2,11,2,0,0,...,2.500,1,0,0,0,1.000,0,0,1-2,View Bio
10,16.0,"Garmen, Jessica 16 Garmen, Jessica",0.333,0.666,3-0,3,0,1,0,0,...,0.333,0,0,1,0,0.333,0,0,0-0,View Bio
11,11.0,"Voss, Lexi 11 Voss, Lexi",0.268,0.724,35-20,56,11,15,3,0,...,0.375,3,4,13,0,0.349,0,2,0-0,View Bio
12,2.0,"Tholl, Keke 2 Tholl, Keke",0.263,0.917,18-3,19,4,5,2,0,...,0.526,3,1,4,0,0.391,0,0,0-0,View Bio
13,25.0,"LeClair, Audrey 25 LeClair, Audrey",0.167,0.334,31-0,6,7,1,0,0,...,0.167,0,0,1,0,0.167,0,0,4-5,View Bio
14,4.0,"Dennis, Chandler 4 Dennis, Chandler",0.167,0.500,4-1,6,0,1,1,0,...,0.333,0,0,1,0,0.167,0,0,0-0,View Bio
15,1.0,"Gonzalez, Thais 1 Gonzalez, Thais",0.107,0.349,29-8,28,7,3,0,0,...,0.107,3,2,7,0,0.242,0,2,3-3,View Bio
16,NaN,Totals,0.298,0.829,46-46,1221,217,364,71,9,...,0.469,98,24,201,6,0.360,6,48,41-50,NaN
17,NaN,Opponents,0.157,0.460,46-46,1086,68,171,23,3,...,0.226,81,29,482,3,0.234,5,14,49-59,NaN

In [130]:
softball.drop('Bio Link', axis=1, inplace=True)

In [131]:
softball.columns

Index(['#', 'Player', 'AVG', 'OPS', 'GP-GS', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'TB', 'SLG%', 'BB', 'HBP', 'SO', 'GDP', 'OB%', 'SF', 'SH',
       'SB-ATT'],
      dtype='object')

In [132]:
softball.head(5)

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,TB,SLG%,BB,HBP,SO,GDP,OB%,SF,SH,SB-ATT
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,98,0.632,12,3,7,0,0.456,1,1,12-13
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,96,0.681,13,3,14,1,0.440,2,1,0-0
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,85,0.675,17,3,23,1,0.418,0,3,0-0
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,37,0.402,7,0,28,1,0.354,0,2,3-4
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,60,0.423,4,2,9,0,0.324,0,3,2-2

**Building Runs Created Column**

In [133]:
softball['RC'] = ((softball['H'] + softball['BB'] + softball['HBP']) * softball['TB'])/(softball['AB'] + softball['BB'] + softball['HBP'])

In [134]:
softball['RC']

0      44.964706
1      42.802548
2      35.513699
3      13.080808
4      19.459459
5      19.351724
6      13.525180
7       7.392157
8       7.200000
9       5.000000
10      0.333333
11      7.333333
12      3.913043
13      0.166667
14      0.333333
15      0.727273
16    207.355175
17     57.562709
Name: RC, dtype: float64

**Building Outs and CS Columns**

In [135]:
softball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #       16 non-null     float64
 1   Player  18 non-null     object
 2   AVG     18 non-null     float64
 3   OPS     18 non-null     float64
 4   GP-GS   18 non-null     object
 5   AB      18 non-null     int64
 6   R       18 non-null     int64
 7   H       18 non-null     int64
 8   2B      18 non-null     int64
 9   3B      18 non-null     int64
 10  HR      18 non-null     int64
 11  RBI     18 non-null     int64
 12  TB      18 non-null     int64
 13  SLG%    18 non-null     float64
 14  BB      18 non-null     int64
 15  HBP     18 non-null     int64
 16  SO      18 non-null     int64
 17  GDP     18 non-null     int64
 18  OB%     18 non-null     float64
 19  SF      18 non-null     int64
 20  SH      18 non-null     int64
 21  SB-ATT  18 non-null     object
 22  RC      18 non-null     float64
dtypes: float64(6), int64(14), object(3)
memory usage: 3.4+ KB

In [136]:
# This gets a little funky

In [137]:
softball["SB-ATT"]= softball["SB-ATT"].str.split("-")

In [138]:
softball['SB'] = [l[0] for l in softball['SB-ATT']]

In [139]:
softball['ATT'] = [l[1] for l in softball['SB-ATT']]

In [140]:
softball['SB'] =softball['SB'].fillna(0).astype(int)

In [141]:
softball['ATT'] =softball['ATT'].fillna(0).astype(int)

In [142]:
softball.drop('SB-ATT', axis=1, inplace=True)

In [143]:
softball.head(1)

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,BB,HBP,SO,GDP,OB%,SF,SH,RC,SB,ATT
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,12,3,7,0,0.456,1,1,44.964706,12,13

In [144]:
softball['CS'] = softball['ATT']- softball['SB']

In [145]:
softball.head(3)

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,HBP,SO,GDP,OB%,SF,SH,RC,SB,ATT,CS
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,3,7,0,0.456,1,1,44.964706,12,13,1
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,3,14,1,0.440,2,1,42.802548,0,0,0
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,3,23,1,0.418,0,3,35.513699,0,0,0

In [146]:
softball['Outs'] = (0.982*softball['AB']) - softball['H'] + softball['GDP'] + softball['SF'] + softball['SH'] + softball['CS']

In [147]:
softball

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,SO,GDP,OB%,SF,SH,RC,SB,ATT,CS,Outs
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,7,0,0.456,1,1,44.964706,12,13,1,92.210
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,14,1,0.440,2,1,42.802548,0,0,0,88.462
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,23,1,0.418,0,3,35.513699,0,0,0,86.732
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,28,1,0.354,0,2,13.080808,3,4,1,66.344
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,9,0,0.324,0,3,19.459459,2,2,0,100.444
5,22.0,"Jimenez, Julia 22 Jimenez, Julia",0.293,0.751,46-46,140,13,41,6,1,...,11,1,0.315,1,8,19.351724,2,2,0,106.480
6,21.0,"Rodriguez, Natalia 21 Rodriguez, Natalia",0.227,0.674,46-46,119,29,27,7,3,...,22,0,0.338,0,13,13.525180,8,11,3,105.858
7,17.0,"Kersten, Sierra 17 Kersten, Sierra",0.224,0.548,42-38,98,9,22,7,0,...,33,2,0.252,1,3,7.392157,2,3,1,81.236
8,32.0,"Hoogenraad, Haley 32 Hoogenraad, Haley",0.205,0.570,44-40,88,13,18,1,1,...,27,0,0.297,1,10,7.200000,4,5,1,80.416
9,5.0,"Rodriguez, Kaylee America 5 Rodriguez, Kaylee...",1.000,3.500,30-0,2,11,2,0,0,...,0,0,1.000,0,0,5.000000,1,2,1,0.964
10,16.0,"Garmen, Jessica 16 Garmen, Jessica",0.333,0.666,3-0,3,0,1,0,0,...,1,0,0.333,0,0,0.333333,0,0,0,1.946
11,11.0,"Voss, Lexi 11 Voss, Lexi",0.268,0.724,35-20,56,11,15,3,0,...,13,0,0.349,0,2,7.333333,0,0,0,41.992
12,2.0,"Tholl, Keke 2 Tholl, Keke",0.263,0.917,18-3,19,4,5,2,0,...,4,0,0.391,0,0,3.913043,0,0,0,13.658
13,25.0,"LeClair, Audrey 25 LeClair, Audrey",0.167,0.334,31-0,6,7,1,0,0,...,1,0,0.167,0,0,0.166667,4,5,1,5.892
14,4.0,"Dennis, Chandler 4 Dennis, Chandler",0.167,0.500,4-1,6,0,1,1,0,...,1,0,0.167,0,0,0.333333,0,0,0,4.892
15,1.0,"Gonzalez, Thais 1 Gonzalez, Thais",0.107,0.349,29-8,28,7,3,0,0,...,7,0,0.242,0,2,0.727273,3,3,0,26.496
16,NaN,Totals,0.298,0.829,46-46,1221,217,364,71,9,...,201,6,0.360,6,48,207.355175,41,50,9,904.022
17,NaN,Opponents,0.157,0.460,46-46,1086,68,171,23,3,...,482,3,0.234,5,14,57.562709,49,59,10,927.452

In [148]:
softball['Games'] = softball['Outs'] / 21

In [149]:
softball['RC/G'] = softball['RC']/softball['Games']

In [150]:
softball

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,OB%,SF,SH,RC,SB,ATT,CS,Outs,Games,RC/G
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,0.456,1,1,44.964706,12,13,1,92.210,4.390952,10.240308
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,0.440,2,1,42.802548,0,0,0,88.462,4.212476,10.160900
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,0.418,0,3,35.513699,0,0,0,86.732,4.130095,8.598760
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,0.354,0,2,13.080808,3,4,1,66.344,3.159238,4.140495
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,0.324,0,3,19.459459,2,2,0,100.444,4.783048,4.068423
5,22.0,"Jimenez, Julia 22 Jimenez, Julia",0.293,0.751,46-46,140,13,41,6,1,...,0.315,1,8,19.351724,2,2,0,106.480,5.070476,3.816550
6,21.0,"Rodriguez, Natalia 21 Rodriguez, Natalia",0.227,0.674,46-46,119,29,27,7,3,...,0.338,0,13,13.525180,8,11,3,105.858,5.040857,2.683111
7,17.0,"Kersten, Sierra 17 Kersten, Sierra",0.224,0.548,42-38,98,9,22,7,0,...,0.252,1,3,7.392157,2,3,1,81.236,3.868381,1.910918
8,32.0,"Hoogenraad, Haley 32 Hoogenraad, Haley",0.205,0.570,44-40,88,13,18,1,1,...,0.297,1,10,7.200000,4,5,1,80.416,3.829333,1.880223
9,5.0,"Rodriguez, Kaylee America 5 Rodriguez, Kaylee...",1.000,3.500,30-0,2,11,2,0,0,...,1.000,0,0,5.000000,1,2,1,0.964,0.045905,108.921162
10,16.0,"Garmen, Jessica 16 Garmen, Jessica",0.333,0.666,3-0,3,0,1,0,0,...,0.333,0,0,0.333333,0,0,0,1.946,0.092667,3.597122
11,11.0,"Voss, Lexi 11 Voss, Lexi",0.268,0.724,35-20,56,11,15,3,0,...,0.349,0,2,7.333333,0,0,0,41.992,1.999619,3.667365
12,2.0,"Tholl, Keke 2 Tholl, Keke",0.263,0.917,18-3,19,4,5,2,0,...,0.391,0,0,3.913043,0,0,0,13.658,0.650381,6.016541
13,25.0,"LeClair, Audrey 25 LeClair, Audrey",0.167,0.334,31-0,6,7,1,0,0,...,0.167,0,0,0.166667,4,5,1,5.892,0.280571,0.594026
14,4.0,"Dennis, Chandler 4 Dennis, Chandler",0.167,0.500,4-1,6,0,1,1,0,...,0.167,0,0,0.333333,0,0,0,4.892,0.232952,1.430908
15,1.0,"Gonzalez, Thais 1 Gonzalez, Thais",0.107,0.349,29-8,28,7,3,0,0,...,0.242,0,2,0.727273,3,3,0,26.496,1.261714,0.576416
16,NaN,Totals,0.298,0.829,46-46,1221,217,364,71,9,...,0.360,6,48,207.355175,41,50,9,904.022,43.048667,4.816762
17,NaN,Opponents,0.157,0.460,46-46,1086,68,171,23,3,...,0.234,5,14,57.562709,49,59,10,927.452,44.164381,1.303374

In [151]:
ordered_RCG = softball.sort_values(by = ['RC/G'], ascending = False)

In [152]:
ordered_RCG

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,OB%,SF,SH,RC,SB,ATT,CS,Outs,Games,RC/G
9,5.0,"Rodriguez, Kaylee America 5 Rodriguez, Kaylee...",1.000,3.500,30-0,2,11,2,0,0,...,1.000,0,0,5.000000,1,2,1,0.964,0.045905,108.921162
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,0.456,1,1,44.964706,12,13,1,92.210,4.390952,10.240308
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,0.440,2,1,42.802548,0,0,0,88.462,4.212476,10.160900
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,0.418,0,3,35.513699,0,0,0,86.732,4.130095,8.598760
12,2.0,"Tholl, Keke 2 Tholl, Keke",0.263,0.917,18-3,19,4,5,2,0,...,0.391,0,0,3.913043,0,0,0,13.658,0.650381,6.016541
16,NaN,Totals,0.298,0.829,46-46,1221,217,364,71,9,...,0.360,6,48,207.355175,41,50,9,904.022,43.048667,4.816762
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,0.354,0,2,13.080808,3,4,1,66.344,3.159238,4.140495
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,0.324,0,3,19.459459,2,2,0,100.444,4.783048,4.068423
5,22.0,"Jimenez, Julia 22 Jimenez, Julia",0.293,0.751,46-46,140,13,41,6,1,...,0.315,1,8,19.351724,2,2,0,106.480,5.070476,3.816550
11,11.0,"Voss, Lexi 11 Voss, Lexi",0.268,0.724,35-20,56,11,15,3,0,...,0.349,0,2,7.333333,0,0,0,41.992,1.999619,3.667365
10,16.0,"Garmen, Jessica 16 Garmen, Jessica",0.333,0.666,3-0,3,0,1,0,0,...,0.333,0,0,0.333333,0,0,0,1.946,0.092667,3.597122
6,21.0,"Rodriguez, Natalia 21 Rodriguez, Natalia",0.227,0.674,46-46,119,29,27,7,3,...,0.338,0,13,13.525180,8,11,3,105.858,5.040857,2.683111
7,17.0,"Kersten, Sierra 17 Kersten, Sierra",0.224,0.548,42-38,98,9,22,7,0,...,0.252,1,3,7.392157,2,3,1,81.236,3.868381,1.910918
8,32.0,"Hoogenraad, Haley 32 Hoogenraad, Haley",0.205,0.570,44-40,88,13,18,1,1,...,0.297,1,10,7.200000,4,5,1,80.416,3.829333,1.880223
14,4.0,"Dennis, Chandler 4 Dennis, Chandler",0.167,0.500,4-1,6,0,1,1,0,...,0.167,0,0,0.333333,0,0,0,4.892,0.232952,1.430908
17,NaN,Opponents,0.157,0.460,46-46,1086,68,171,23,3,...,0.234,5,14,57.562709,49,59,10,927.452,44.164381,1.303374
13,25.0,"LeClair, Audrey 25 LeClair, Audrey",0.167,0.334,31-0,6,7,1,0,0,...,0.167,0,0,0.166667,4,5,1,5.892,0.280571,0.594026
15,1.0,"Gonzalez, Thais 1 Gonzalez, Thais",0.107,0.349,29-8,28,7,3,0,0,...,0.242,0,2,0.727273,3,3,0,26.496,1.261714,0.576416

**Dropping Totals/Opponents as it is not Relevant to our Final Analysis**

In [153]:
ordered_RCG[ordered_RCG['Player'].str.contains('Opponents|Totals')==False]

,#,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,OB%,SF,SH,RC,SB,ATT,CS,Outs,Games,RC/G
9,5.0,"Rodriguez, Kaylee America 5 Rodriguez, Kaylee...",1.000,3.500,30-0,2,11,2,0,0,...,1.000,0,0,5.000000,1,2,1,0.964,0.045905,108.921162
0,3.0,"Blair, Lexie 3 Blair, Lexie",0.406,1.088,46-45,155,42,63,15,1,...,0.456,1,1,44.964706,12,13,1,92.210,4.390952,10.240308
1,14.0,"Allan, Lou 14 Allan, Lou",0.383,1.121,45-45,141,21,54,9,0,...,0.440,2,1,42.802548,0,0,0,88.462,4.212476,10.160900
2,13.0,"Bump, Taylor 13 Bump, Taylor",0.325,1.093,45-44,126,21,41,6,1,...,0.418,0,3,35.513699,0,0,0,86.732,4.130095,8.598760
12,2.0,"Tholl, Keke 2 Tholl, Keke",0.263,0.917,18-3,19,4,5,2,0,...,0.391,0,0,3.913043,0,0,0,13.658,0.650381,6.016541
3,12.0,"Esman, Lauren 12 Esman, Lauren",0.304,0.756,41-33,92,13,28,4,1,...,0.354,0,2,13.080808,3,4,1,66.344,3.159238,4.140495
4,20.0,"Carson, Hannah 20 Carson, Hannah",0.296,0.747,45-45,142,16,42,10,1,...,0.324,0,3,19.459459,2,2,0,100.444,4.783048,4.068423
5,22.0,"Jimenez, Julia 22 Jimenez, Julia",0.293,0.751,46-46,140,13,41,6,1,...,0.315,1,8,19.351724,2,2,0,106.480,5.070476,3.816550
11,11.0,"Voss, Lexi 11 Voss, Lexi",0.268,0.724,35-20,56,11,15,3,0,...,0.349,0,2,7.333333,0,0,0,41.992,1.999619,3.667365
10,16.0,"Garmen, Jessica 16 Garmen, Jessica",0.333,0.666,3-0,3,0,1,0,0,...,0.333,0,0,0.333333,0,0,0,1.946,0.092667,3.597122
6,21.0,"Rodriguez, Natalia 21 Rodriguez, Natalia",0.227,0.674,46-46,119,29,27,7,3,...,0.338,0,13,13.525180,8,11,3,105.858,5.040857,2.683111
7,17.0,"Kersten, Sierra 17 Kersten, Sierra",0.224,0.548,42-38,98,9,22,7,0,...,0.252,1,3,7.392157,2,3,1,81.236,3.868381,1.910918
8,32.0,"Hoogenraad, Haley 32 Hoogenraad, Haley",0.205,0.570,44-40,88,13,18,1,1,...,0.297,1,10,7.200000,4,5,1,80.416,3.829333,1.880223
14,4.0,"Dennis, Chandler 4 Dennis, Chandler",0.167,0.500,4-1,6,0,1,1,0,...,0.167,0,0,0.333333,0,0,0,4.892,0.232952,1.430908
13,25.0,"LeClair, Audrey 25 LeClair, Audrey",0.167,0.334,31-0,6,7,1,0,0,...,0.167,0,0,0.166667,4,5,1,5.892,0.280571,0.594026
15,1.0,"Gonzalez, Thais 1 Gonzalez, Thais",0.107,0.349,29-8,28,7,3,0,0,...,0.242,0,2,0.727273,3,3,0,26.496,1.261714,0.576416

**Final Analysis**

We can see Michigan Softball did not very much in it's offensive approach with a clear structure to numbers shown in at bat (AB) counts. While Kaylee Rodriguez can be considered an outlier who's results cannot be considered terribly significant given they only had 2 at bats; Lexie Blair and Lou Allan generated a large portion of the Wolverine offense with notable dropoffs coming in the Runs Created Per Game (RC/G) following the duo. Relating this back to count for At Bat attempts, we can see both Hannah Carson and Julia Jimenez received a similar number of attempts to lesser success in generating runs, an interesting point could be to measure how much this impacted the Wolverines' total offensive output and to speculate if players like Keke Tholl were given more opportunities to maintain their high outputs and generate more total runs- making better use of the offensive innings the team had. Moving forward in the next few seasons it will be interesting to see how returning players can either look to boost or maintain their RC/G and if there are any large jumps in At Bat attempts from players like the aforementioned Tholl in an effort to replicate offensive output we have graduated or otherwise lost between seasons.