## ***SI 311 Homework #6: Patrick Mahomes Performance Using Four Different QB Rating Metrics***

Data from: https://www.statmuse.com/nfl/ask/patrick-mahomes-stats-2021

APA Citation: Patrick Mahomes stats 2021. StatMuse. (n.d.). Retrieved October 21, 2022, from https://www.statmuse.com/nfl/ask/patrick-mahomes-stats-2021 


Formulas from SI 311, University of Michigan Fall '22

*Code Written by Brandon Huggard*

https://www.linkedin.com/in/brandon-huggard-5957a0192/

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [83]:
base = pd.read_csv('HW6.csv')

In [84]:
base.head(1)

,NAME,SEASON,TM,GP,CMP,ATT,PCT,YDS,AVG,YDS/G,TD,TD%,INT,INT%,SCK,SCKY,RATE
0,Patrick Mahomes,2021,KC,17,436,658,66.3,"4,839",7.4,284.6,37,5.6,13,2,28,146,98.5

In [85]:
base.dtypes

NAME       object
SEASON      int64
TM         object
GP          int64
CMP         int64
ATT         int64
PCT       float64
YDS        object
AVG       float64
YDS/G     float64
TD          int64
TD%       float64
INT         int64
INT%        int64
SCK         int64
SCKY        int64
RATE      float64
dtype: object

In [86]:
base['YDS'] = 4839

In [87]:
base['nfl_a'] = ((base['CMP'] / base['ATT']) -.3) * 5

In [88]:
base['nfl_b'] = ((base['YDS'] / base['ATT']) - 3) * .25

In [89]:
base['nfl_c'] = (base['TD'] / base['ATT']) * 20

In [90]:
base['nfl_d'] = 2.375 - (base['INT']/base['ATT']) * 25

In [91]:
base['nfl_pr'] = ((base['nfl_a'] + base['nfl_b'] + base['nfl_c'] + base['nfl_d'])/6) * 100

In [92]:
base

,NAME,SEASON,TM,GP,CMP,ATT,PCT,YDS,AVG,YDS/G,...,INT,INT%,SCK,SCKY,RATE,nfl_a,nfl_b,nfl_c,nfl_d,nfl_pr
0,Patrick Mahomes,2021,KC,17,436,658,66.3,4839,7.4,284.6,...,13,2,28,146,98.5,1.81307,1.088526,1.12462,1.881079,98.454914

In [93]:
base['ncaa_pr'] = ((8.4 * base['YDS']) + (330 * base['TD']) + (100 * base['CMP']) - (200 * base['INT'])) / base['ATT']

In [94]:
base

,NAME,SEASON,TM,GP,CMP,ATT,PCT,YDS,AVG,YDS/G,...,INT%,SCK,SCKY,RATE,nfl_a,nfl_b,nfl_c,nfl_d,nfl_pr,ncaa_pr
0,Patrick Mahomes,2021,KC,17,436,658,66.3,4839,7.4,284.6,...,2,28,146,98.5,1.81307,1.088526,1.12462,1.881079,98.454914,142.640729

In [95]:
base['wow_pr'] = base['YDS'] - (3*(base['ATT'] + base['SCK'])) - (30 * base['INT'])

In [96]:
base

,NAME,SEASON,TM,GP,CMP,ATT,PCT,YDS,AVG,YDS/G,...,SCK,SCKY,RATE,nfl_a,nfl_b,nfl_c,nfl_d,nfl_pr,ncaa_pr,wow_pr
0,Patrick Mahomes,2021,KC,17,436,658,66.3,4839,7.4,284.6,...,28,146,98.5,1.81307,1.088526,1.12462,1.881079,98.454914,142.640729,2391

In [97]:
base['burke_pr'] = 1.543 * (base['YDS'] - base['SCKY'])/(base['ATT'] + base['SCK']) - 50.097* (base['INT']/base['ATT'])

In [98]:
base

,NAME,SEASON,TM,GP,CMP,ATT,PCT,YDS,AVG,YDS/G,...,SCKY,RATE,nfl_a,nfl_b,nfl_c,nfl_d,nfl_pr,ncaa_pr,wow_pr,burke_pr
0,Patrick Mahomes,2021,KC,17,436,658,66.3,4839,7.4,284.6,...,146,98.5,1.81307,1.088526,1.12462,1.881079,98.454914,142.640729,2391,9.566071