## ***SI 311 Homework #9: 2020 Big Ten Women's Basketball Four Factor Analysis***

Data from: https://herhoopstats.com/

APA Citation: Stats, H. H. (n.d.). The #1 source for women's basketball insight used by coaches, broadcasters, players, and fans. herhoopstats.com. Retrieved November 18, 2022, from https://herhoopstats.com/ 

Formulas from SI 311, University of Michigan Fall '22

*Code Written by Brandon Huggard*

https://www.linkedin.com/in/brandon-huggard-5957a0192/

In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [192]:
df= pd.read_csv('hw9d.csv')

In [193]:
df.head(2)

,SEASON,TEAM,PPP,PPSA,EFG%,FT RATE,3P RATE,% PTS FT,% PTS 2P,% PTS 3P,...,WIN,LOSS,WIN%,PTS,OPP PTS,NET PTS,OFF RTG,DEF RTG,NET RTG,PACE
0,2010-11,Michigan St.,0.79,0.99,46.80%,16.90%,30.30%,16.70%,53.40%,29.90%,...,27,6,81.80%,67.3,55.2,12.1,96.4,79.5,16.9,69.3
1,2010-11,Penn St.,0.86,1.06,49.30%,16.10%,21.60%,18.80%,55.80%,25.40%,...,25,10,71.40%,76.9,67.6,9.3,102.2,90.2,12.0,74.1

In [194]:
df.columns

Index(['SEASON', 'TEAM', 'PPP', 'PPSA', 'EFG%', 'FT RATE', '3P RATE',
       '% PTS FT', '% PTS 2P', '% PTS 3P', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'TOV%', 'AST/TOV', 'STL%', 'BLK%', 'PF%', 'O_PPP', 'O_PPSA', 'O_EFG%',
       'O_FT RATE', 'O_3P RATE', 'O_% PTS FT', 'O_% PTS 2P', 'O_% PTS 3P',
       'O_ORB%', 'O_DRB%', 'O_TRB%', 'O_AST%', 'O_TOV%', 'O_AST/TOV', 'O_STL%',
       'O_BLK%', 'O_PF%', 'G', 'WIN', 'LOSS', 'WIN%', 'PTS', 'OPP PTS',
       'NET PTS', 'OFF RTG', 'DEF RTG', 'NET RTG', 'PACE'],
      dtype='object')

In [195]:
df.TEAM.value_counts()

Michigan St.    12
Penn St.        12
Ohio St.        12
Iowa            12
Purdue          12
Northwestern    12
Michigan        12
Wisconsin       12
Minnesota       12
Illinois        12
Indiana         12
Nebraska        11
Maryland         8
Rutgers          8
Name: TEAM, dtype: int64

In [196]:
df['EFG%'] = df['EFG%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [197]:
df['ORB%'] = df['ORB%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [198]:
df['TOV%'] = df['TOV%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [199]:
df['FT RATE'] = df['FT RATE'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [200]:
df['O_EFG%'] = df['O_EFG%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [201]:
df['O_ORB%'] = df['O_ORB%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [202]:
df['O_TOV%'] = df['O_TOV%'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [203]:
df['O_FT RATE'] = df['O_FT RATE'].apply(lambda x: np.nan if x in ['-'] else x[:-1]).astype(float)/100

In [204]:
year = df.loc[df['SEASON'] == '2020-21']

In [205]:
hw9full = df[['SEASON', 'TEAM', 'EFG%', 'ORB%', 'TOV%', 'FT RATE', 'O_EFG%', 'O_ORB%', 'O_TOV%', 'O_FT RATE', 'WIN']].copy()

In [206]:
hw9d = hw9full[['SEASON', 'TEAM', 'O_EFG%', 'O_ORB%', 'O_TOV%', 'O_FT RATE', 'WIN']].copy()

In [207]:
hw9o = hw9full[['SEASON', 'TEAM','EFG%', 'ORB%', 'TOV%', 'FT RATE']].copy()

In [208]:
hw9full

,SEASON,TEAM,EFG%,ORB%,TOV%,FT RATE,O_EFG%,O_ORB%,O_TOV%,O_FT RATE,WIN
0,2010-11,Michigan St.,0.468,0.406,0.204,0.169,0.423,0.272,0.246,0.172,27
1,2010-11,Penn St.,0.493,0.371,0.187,0.161,0.459,0.302,0.215,0.189,25
2,2010-11,Ohio St.,0.499,0.306,0.168,0.183,0.425,0.340,0.170,0.141,24
3,2010-11,Iowa,0.471,0.350,0.176,0.209,0.442,0.311,0.179,0.133,22
4,2010-11,Purdue,0.464,0.341,0.213,0.194,0.409,0.352,0.202,0.164,21
...,...,...,...,...,...,...,...,...,...,...,...
154,2021-22,Minnesota,0.476,0.310,0.175,0.161,0.481,0.316,0.154,0.159,15
155,2021-22,Rutgers,0.445,0.377,0.231,0.153,0.444,0.289,0.198,0.199,11
156,2021-22,Penn St.,0.483,0.274,0.185,0.150,0.494,0.371,0.187,0.151,11
157,2021-22,Wisconsin,0.455,0.267,0.202,0.141,0.491,0.363,0.174,0.162,8
158,2021-22,Illinois,0.447,0.307,0.199,0.164,0.504,0.328,0.171,0.153,7

In [209]:
hw9full['P1']  = hw9full['EFG%'] - hw9full['O_EFG%']

In [210]:
hw9full['P2']  = hw9full['TOV%'] - hw9full['O_TOV%']

In [211]:
hw9full['P3']  = hw9full['ORB%'] - hw9full['O_ORB%']

In [212]:
hw9full['P4']  = hw9full['FT RATE'] - hw9full['O_FT RATE']

In [213]:
hw9full.head(3)

,SEASON,TEAM,EFG%,ORB%,TOV%,FT RATE,O_EFG%,O_ORB%,O_TOV%,O_FT RATE,WIN,P1,P2,P3,P4
0,2010-11,Michigan St.,0.468,0.406,0.204,0.169,0.423,0.272,0.246,0.172,27,0.045,-0.042,0.134,-0.003
1,2010-11,Penn St.,0.493,0.371,0.187,0.161,0.459,0.302,0.215,0.189,25,0.034,-0.028,0.069,-0.028
2,2010-11,Ohio St.,0.499,0.306,0.168,0.183,0.425,0.340,0.170,0.141,24,0.074,-0.002,-0.034,0.042

In [214]:
hw9full['SEASON'].value_counts()

2014-15    14
2015-16    14
2016-17    14
2017-18    14
2018-19    14
2019-20    14
2020-21    14
2021-22    14
2011-12    12
2012-13    12
2013-14    12
2010-11    11
Name: SEASON, dtype: int64

In [215]:
hw9train = hw9full.loc[(hw9full['SEASON'] != '2020-21')]

In [216]:
hw9train = hw9train.drop(columns = ['EFG%','ORB%', 'TOV%', 'FT RATE', 'O_EFG%', 'O_ORB%', 'O_TOV%', 'O_FT RATE'])

In [217]:
hw9train.head(2)

    SEASON          TEAM  WIN     P1     P2     P3     P4
0  2010-11  Michigan St.   27  0.045 -0.042  0.134 -0.003
1  2010-11      Penn St.   25  0.034 -0.028  0.069 -0.028

In [218]:
hw9test = hw9full.loc[(hw9full['SEASON'] == '2020-21')]

In [219]:
hw9test = hw9test[['SEASON','TEAM', 'P1', 'P2', 'P3', 'P4']]

In [220]:
hw9test.head(2)

      SEASON      TEAM     P1     P2     P3     P4
131  2020-21  Maryland  0.093 -0.053  0.092  0.013
132  2020-21   Indiana  0.070 -0.052  0.035  0.032

In [221]:
X = hw9train[['P1', 'P2', 'P3', 'P4']]
y = hw9train['WIN']

In [222]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [223]:
lin_reg.score(X, y)

0.8763138379403126

In [224]:
lin_reg.coef_

array([ 89.82273031, -78.01215618,  24.64683537,  38.72365729])

In [225]:
lin_reg.intercept_

15.490072561967125

In [226]:
tX = hw9test[['P1', 'P2', 'P3', 'P4']]

In [227]:
hw9test['Predicted Wins'] = lin_reg.predict(tX)

In [228]:
hw9test

      SEASON          TEAM     P1     P2     P3     P4  Predicted Wins
131  2020-21      Maryland  0.093 -0.053  0.092  0.013       30.749147
132  2020-21       Indiana  0.070 -0.052  0.035  0.032       27.936092
133  2020-21          Iowa  0.084  0.028 -0.048  0.013       20.171201
134  2020-21  Northwestern -0.029 -0.116 -0.016 -0.008       21.230485
135  2020-21      Michigan  0.054  0.023  0.132  0.035       23.154931
136  2020-21  Michigan St.  0.022 -0.039  0.058 -0.020       21.163690
137  2020-21       Rutgers  0.086 -0.083  0.034 -0.052       28.514199
138  2020-21      Ohio St.  0.049 -0.043 -0.004  0.012       23.612006
139  2020-21      Nebraska  0.042  0.049 -0.029  0.003       14.841444
140  2020-21      Penn St. -0.025  0.006 -0.010 -0.010       12.142726
141  2020-21     Minnesota -0.063  0.027 -0.002  0.026        8.682434
142  2020-21        Purdue -0.026  0.043  0.003  0.010       10.261336
143  2020-21      Illinois -0.048  0.035 -0.025 -0.018        7.134959
144  2020-21     Wisconsin -0.038  0.068 -0.037 -0.016        5.240471

In [231]:
sorted_final = hw9test.sort_values(by=['Predicted Wins'], ascending=False)
sorted_final

      SEASON          TEAM     P1     P2     P3     P4  Predicted Wins
131  2020-21      Maryland  0.093 -0.053  0.092  0.013       30.749147
137  2020-21       Rutgers  0.086 -0.083  0.034 -0.052       28.514199
132  2020-21       Indiana  0.070 -0.052  0.035  0.032       27.936092
138  2020-21      Ohio St.  0.049 -0.043 -0.004  0.012       23.612006
135  2020-21      Michigan  0.054  0.023  0.132  0.035       23.154931
134  2020-21  Northwestern -0.029 -0.116 -0.016 -0.008       21.230485
136  2020-21  Michigan St.  0.022 -0.039  0.058 -0.020       21.163690
133  2020-21          Iowa  0.084  0.028 -0.048  0.013       20.171201
139  2020-21      Nebraska  0.042  0.049 -0.029  0.003       14.841444
140  2020-21      Penn St. -0.025  0.006 -0.010 -0.010       12.142726
142  2020-21        Purdue -0.026  0.043  0.003  0.010       10.261336
141  2020-21     Minnesota -0.063  0.027 -0.002  0.026        8.682434
143  2020-21      Illinois -0.048  0.035 -0.025 -0.018        7.134959
144  2020-21     Wisconsin -0.038  0.068 -0.037 -0.016        5.240471

In [234]:
hang_on = hw9full.loc[(hw9full['SEASON'] == '2020-21')]
hang_on = hang_on[['SEASON','TEAM', 'P1', 'P2', 'P3', 'P4', 'WIN']]

In [235]:
hang_on

      SEASON          TEAM     P1     P2     P3     P4  WIN
131  2020-21      Maryland  0.093 -0.053  0.092  0.013   26
132  2020-21       Indiana  0.070 -0.052  0.035  0.032   21
133  2020-21          Iowa  0.084  0.028 -0.048  0.013   20
134  2020-21  Northwestern -0.029 -0.116 -0.016 -0.008   16
135  2020-21      Michigan  0.054  0.023  0.132  0.035   16
136  2020-21  Michigan St.  0.022 -0.039  0.058 -0.020   15
137  2020-21       Rutgers  0.086 -0.083  0.034 -0.052   14
138  2020-21      Ohio St.  0.049 -0.043 -0.004  0.012   13
139  2020-21      Nebraska  0.042  0.049 -0.029  0.003   13
140  2020-21      Penn St. -0.025  0.006 -0.010 -0.010    9
141  2020-21     Minnesota -0.063  0.027 -0.002  0.026    8
142  2020-21        Purdue -0.026  0.043  0.003  0.010    7
143  2020-21      Illinois -0.048  0.035 -0.025 -0.018    5
144  2020-21     Wisconsin -0.038  0.068 -0.037 -0.016    5